# LASI2022 Machine Learning Workshop

## Exercise 1: Simple Linear Regression

In this exercise we are interested in studying the relation between education and wage. Our regression model is:

$$ wage = \beta_0 + \beta_1 \times education + \epsilon$$

Our goal is to estimate the parameters: $\beta_0, \beta_1$

- the variable ``wage`` is in units of dollars per hour
- the variable ``educ`` is education in years

## 0. Import Python Libraries

In [4]:
import pandas as pd
from statsmodels.formula.api import ols

## 1. Import and Verify Dataset

In [5]:
df = pd.read_csv("data/wageedu.csv")

In [10]:
df.head(10)

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
5,8.75,16,9,8,0,0,1,0,1,0,...,0,0,0,1,1,0,0,2.169054,81,64
6,11.25,18,15,7,0,0,0,0,1,0,...,0,1,0,0,1,0,0,2.420368,225,49
7,5.00,12,5,3,0,1,0,0,1,0,...,0,0,0,0,1,0,0,1.609438,25,9
8,3.60,12,26,4,0,1,0,2,1,0,...,0,1,0,0,1,0,0,1.280934,676,16
9,18.18,17,22,21,0,0,1,0,1,0,...,0,0,0,0,1,0,0,2.900322,484,441

## 2. Plot Distributions of Wage, Income

## 3. Fit Simple Linear Regression Model

In [7]:
slr = ols('wage ~ educ',df).fit()

In [9]:
slr.params

Intercept   -0.904852
educ         0.541359
dtype: float64

## 5. Interpret Model 

An increase of one year in education translates to an increase or decrease in wage by what amount?

## 6. Evaluate Model